script#new-task-template(type="text/template")
	#new-task-top
		#new-task-title Create Task
		#new-task-cancel x
	#new-task-body
		input#new-task-name(type="text", placeholder="Task Name")
		button#create-task.button Add