script#tasks-template(type="text/template")
	#tasks-to-do.tasks-col
		.tasks-header To Do
		.tasks-container
		.add-new-task(data-status="to-do") Add new task

	#tasks-in-progress.tasks-col
		.tasks-header In Progress
		.tasks-container
		.add-new-task(data-status="in-progress") Add new task

	#tasks-done.tasks-col
		.tasks-header Done
		.tasks-container
		.add-new-task(data-status="done") Add new task
