script#task-modal-template(type="text/template")
	#t-headern
		#t-name(contenteditable) {{- name }}
		#t-close
	#t-body
		#t-left
			#t-description(contenteditable) {{- description ? description : "Description..."}}
		#t-right
			select#t-status
				{{ for (var i = 0; i < tasks.length; i++){ }}
				//- option(value="to-do") To Do 
				//- option(value="in-progress") In Progress
				//- option(value="done") Done
				option(value="{{- tasks[i].value }}") {{- tasks[i].text }}
				{{ } }}
			button#t-add-members.t-right-button.info Members
			button#t-archive.t-right-button.success {{ if (!isArchived) print('Archive'); else print('Unarchive')}}
			button#t-remove.t-right-button.alert Remove