script#task-modal-template(type="text/template")
	#t-headern
		#t-name(contenteditable) {{- name }}
		#t-close
	#t-body
		#t-left
			#t-description(contenteditable) {{- description ? description : "Description..."}}
		#t-right
			select#t-status
				option(value="to-do") To Do 
				option(value="in-progress") In Progress
				option(value="done") Done
			button#t-add-members.t-right-button.info Members
			button#t-archive.t-right-button.success Archive
			button#t-remove.t-right-button.alert Remove