.board-container
	display: inline-block
	background-color: #008CBA
	width: 300px
	height: 150px
	margin: 10px
	padding: 10px
	color: #FFF
	cursor: pointer

//new board model
#new-board-title
#new-board-cancel
	display: inline-block

#new-board-cancel
	float: right
	cursor: pointer

#new-board-top
	border-bottom: 1px solid #808080
	
.create-board-modal
	padding: 20px
	border: 1px solid #008CBA
	width: 400px
	position: absolute