#header
	position: fixed
	top: 0px
	height: 40px
	background-color: #008CBA
	width: 100%
	
#header-right
	display: inline-block
	float: right
	margin-top: 3px
	margin-right: 10px
	color: white
	
	#user-email
		margin-right: 7px

	#user-email
	#user-abbreviation
		vertical-align: middle
	
	
#header-left
	display: inline-block
	a
		color: #FFF
		font-weight: bold
		line-height: 40px
		margin-left: 12px

#user-abbreviation
	display: inline-block
	width: 33px
	height: 33px
	line-height: 33px
	text-align: center
	font-size: 20px
	color: #666666
	background-color: #C2C2C2
	text-transform: lowercase
	border-radius: 6px
	

#user-email
	display: inline-block