#task-right-panel
	position: fixed
	width: 200px
	background-color: #D2D2D2
	height: 100%
	top: 40px
	right: 0px
	color: #626262
	padding-left: 10px
	
#users-modal
	position: absolute
	border: 1px solid #808080
	padding: 10px
	
#rp-menu
	margin-top: 10px
	margin-bottom: 10px
	
#users-modal-close
	display: inline-block
	float: right
	cursor: pointer
	
#user-search
	display: inline-block

#us-title
	display: inline-block
	
#us-header
	border-bottom: 1px solid #808080
	margin-bottom: 10px
	
#us-input
	margin-top: 10px