#task-right-panel
	position: fixed
	width: 200px
	background-color: #D2D2D2
	height: 100%
	top: 40px
	right: 0px
	color: #626262
	padding-left: 10px
	
#users-modal
	position: absolute
	
#rp-menu
	margin-top: 10px
	margin-bottom: 10px
	
#users-modal-close
	display: inline-block
	float: right
	
#user-search
	display: inline-block