#task-right-panel
	position: fixed
	width: 200px
	background-color: #D2D2D2
	height: 100%
	top: 40px
	right: 0px
	color: #626262
	padding-left: 10px
	
#users-modal
	border: 1px solid #808080
	padding: 10px
	display: none
	&.show
		display: block

#rp-add-user, #rp-switch-archived, #rp-remove-board
	width: 175px

#rp-menu
	margin-top: 10px
	margin-bottom: 10px
	
#users-modal-close
	display: inline-block
	float: right
	cursor: pointer
	
#user-search
	display: inline-block

.user-item
	background: #FFF
	padding: 5px
	cursor: pointer

.user-email
	display: inline-block

.user-abbreviation
	display: inline-block
	margin-right: 5px
	text-align: center
	font-size: 17px
	color: #666
	background-color: #C2C2C2
	text-transform: lowercase
	border-radius: 6px
	width: 28px
	height: 28px
	line-height: 28px
	
#us-title
	display: inline-block
	
#us-header
	border-bottom: 1px solid #808080
	margin-bottom: 10px
	
#us-input
	margin-top: 10px

.collaborator-abbreviation
	background: white
	
.collaborator
	margin: 5px
	cursor: pointer
	display: inline-block