#task-modal
	position: absolute
	width: 600px
	left: 50%
	margin-left: -300px
	top: 30px
	background: gray
	min-height: 400px

#t-header
	width: 100%
	height: 30px
	
#t-body
	width: 100%
	
#t-left
	display: inline-block
	
#t-right
	width: 140px
	float: right
	display: inline-block