.tasks-col
	display: inline-block
	width: 300px
	border: 1px solid #008CBA
	margin: 20px
	
.tasks-header
	background: #0D6A89
	padding: 5px 0px 5px 0px
	text-align: center
	font-weight: bold
	color: white

//new task
.add-new-task
	background: #D2D2D2
	color: #626262
	padding: 5px 0px 5px 10px
	cursor: pointer
	

#new-task-title
#new-task-cancel
	display: inline-block

#new-task-cancel
	float: right
	cursor: pointer

#new-task-top
	border-bottom: 1px solid #808080
	
.create-task-modal
	padding: 20px
	border: 1px solid #008CBA
	width: 400px
	position: absolute
	background: white