script#right-panel-template(type="text/template")
	div#rp-menu Menu
	#collaborators-container
	button#rp-add-user.info Add User
	#users-modal

	button#rp-remove-board.alert Remove Board

	button#rp-switch-archived.secondary Archived Tasks

	{{ if (isPrivate){ }}
	div 
		span This board is 
		span#board-access-modifier-label private
		span . Only board members can see it
	{{ } else { }}

	div 
		span This board is 
		span#board-access-modifier-label public
		span . Anyone can see it

	{{ } }}