script#users-search-template(type="text/template")
	#us-header
		#us-title Add Member
		#users-modal-close x	
	#us-input
		input#user-search(placeholder="user@mail.com", autofocus)
	#users-search-container
