script#task-layout-template(type="text/template")
	#task-content
	#task-right-panel-toggle
	#task-right-panel
		
include ./task
include ./tasks
include ./new-task
include ./right-panel/panel
include ./right-panel/user
include ./right-panel/users
include ./right-panel/collaborator