script#new-board-template(type="text/template")
	#new-board-top
		#new-board-title Create-board
		#new-board-cancel x
	#new-board-body
		input#new-board-name(type="text", placeholder="Board Name")
		input#new-board-private(type="checkbox")
		label(for="new-board-private") Private
		button#create-board.button Add